img{
}

div.col-md-12{
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  position:relative;
  min-height:1px;
  padding-right:15px;
  padding-left:15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family:inherit;
  font-weight:200;
  line-height:1.1;
  color:inherit;
}

.container-fluid{
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}

table {
    /*border-collapse: collapse;*/
    width: 100%;
    white-space: nowrap;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){
    background-color: white;
}

tr:nth-child(odd){
    background-color: #cccccc;
}

th {
    background-color: #4CAF50;
    color: white;
}

.modal-header {
  background-color: #5cb85c;
  color:white !important;
  text-align: center;
  font-size: 30px;
}

.modal-footer {
  background-color: #f9f9f9;
}

.navegacao {
    /*border: 1px solid grey;*/
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 25px;
    width: 100%;
    text-align: justify;
}

.navegacao > a:link, .navegacao > a:visited {
    background-color: inherit;
    color: black;
    font-size: 14px;
    padding: 5px 5px;
    margin: 0px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
}

.navegacao > a:hover, .navegacao > a:active {
    background-color: #ff751a;
    color: white;
}

/* The alert message box */
.alert {
    margin-left: 0%;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #33ccff; /* blue */
    color: white;
    font-weight: bold;
    margin-bottom: 15px;
}

.alert-success {
  margin-left: 0%;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #4CAF50; /* green */
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.alert-error {
  margin-left: 0%;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #f44336; /* red */
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

.alert-info {
  margin-left: 0%;
  width: 100%;
  text-align: center;
  padding: 20px;
  background-color: #809fff; /* blue */
  color: white;
  font-weight: bold;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.btn-plus-minus {
  /*border: 1px solid;*/

}

.btn-plus {
  position: relative;
  width: 40px;
  height: 35px;
}

.btn-plus > span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
}

.btn-minus {
  position: relative;
  width: 40px;
  height: 35px;
}

.btn-minus > span {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 50px;
}

